!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'name' => 'keywords', :content => "#{keywords}"}/
    %title== #{page_title}
    = stylesheet_link_tag template_css, :cache=>true
    = javascript_include_tag :defaults, 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php', :cache=>true, :recursive=>true
    = javascript_tag "window.api_key = '#{Facebooker.api_key}';"
    = javascript_tag "window.xd_receiver_location = '#{ENV['XD_RECEIVER_LOCATION']}';"
    = javascript_tag "window.facebook_authenticate_location = '#{ENV['FACEBOOK_AUTHENTICATE_LOCATION']}';"
    = javascript_include_tag 'facebook_scripts'  
    = yield :javascripts
    
  %body
    #main
      .error-flash-box{:style=>'display:none;'}
        = flash[:error]
      .notice-flash-box{:style=>'display:none;'}
        = flash[:notice]
      #header
        #header-logo
          =link_to image_tag('logo_header.png',:border=>'0'), root_url
        #header-profile
          = render :partial => "shared/profile_component"
        
      #sub-header
        #main-menu
          %ul
            %li
              =link_to "Top restaurantes", root_url
            %li
              =link_to "Na minha zona", root_url
            %li
              =link_to "Menu 1", root_url
            %li
              =link_to "Menu 1", root_url
            %li
              =link_to "Menu 1", root_url
            

        #search-bar
          %input 
      #main-content
        #main-left
          = yield :layout
        #main-right
          = yield :sidebar_hints 
      #footer
        #footer-left
          menu footer 1 menu footer 2
        #footer-center
          center center
        #footer-right
          right footer
      
    
  
