<h1>Alterar password</h1>
<% form_tag :action=>"change_password", :method=>:post do %>
<p>    
	<%=label_tag :current_password, "Password Actual"%>
</p>

<p>
    <%=password_field_tag :current_password, @current_password %>
</p>


<p>    
	<%=label_tag :password, "Nova Password"%>
</p>

<p>
    <%=password_field_tag :password, @password %>
</p>
<p>    
	<%=label_tag :password_confirmation, "Confirmação da nova password"%>
</p>

<p>
    <%=password_field_tag :password_confirmation, @password_confirmation %>
</p>
<%=hidden_field_tag :_method, "put"%>
<%=submit_tag "Alterar password"%>
<%end %>