<h1>Alterar Password</h1>
<% form_tag :action=>"reset_password" do%>
<p>
    <%=label_tag :password, "Nova password" %>
</p>
<p>
    <%=password_field_tag :password, @password %>
</p>
<p>
    <%=label_tag :password_confirmation, "Confirmação Password" %>
</p>
<p>
    <%=password_field_tag :password_confirmation, @password_confirmation %>
</p>
<%=hidden_field_tag :_method, "put"%>
<%=submit_tag "Alterar Password" %>
<%end %>
